
.chat-list {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  margin-top: 7rem;
  overflow:hidden;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.room-names {
  list-style-type: none;
  list-style:none;
  padding-left: 1rem;
}

.room-names li {
  padding-bottom: 1rem;
  cursor: pointer;
  color: black;
}

.room-names li:hover {
  padding-left: 1rem;
  transition: all .3s ease;
}

.chat-list form {
  padding-left: 1rem;
}

#new-room input {
  border: none;
  margin-top: .5rem;
  padding: .25rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#room-input {
  border: none;
  border-radius: 3px;
  padding-left: 1rem;
}
